# client.toml
[client]
remote_addr = "$RATHOLE_SERVER_ADDRESS:2333" # The address of the server. The port must be the same with the port in `server.bind_addr`
default_token = "$RATHOLE_TOKEN"
retry_interval = 1

[client.services.palworld]
local_addr = "127.0.0.1:8211"
type = "udp"
nodelay = true

[client.services.palworld2]
local_addr = "127.0.0.1:27015"
type = "udp"
nodelay = true
